html,
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#header {
    margin: 1%;
    margin-bottom: 0;
    padding: 0.5%;
    text-align: center;
    font-size: 1.4rem;
    background-color: darkblue;
    color: white
}


#navbar {
    background-color: fpurple;
    color: white;
    padding: 0;
    list-style: none;
    position: sticky;
    top: 0;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
}

#navbar li {
    text-align: center;
    font-size: 0;
}

#navbar ul {
    display: inline-block;
    background-color: pink;
    text-align: center;
    padding-left: 0;
    width: 21.75%;
    font-size: 1.3rem;
    padding: 1%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#content {
    font-size: 0;
    text-align: center;
    display: flex;
    margin: 1%;
    margin-top: 0;
}

.cols {
    display: inline-block;
    font-size: 1rem;
}

#leftcol {
    background-color: green;
    width: 19%;
    margin-right: 0.5%;
}

#rightcol {
    background-color: red;
    width: 80%;
    margin-left: 0.5%;
}

#footer {
    background-color: grey;
    text-align: center;
    font-weight: bold;
    padding: 0.2%;
}